#goal-manager-container {
    background-color: #000000;
    /* border-style: solid;
    border-color: black; */
    width: 800px;
}

.goal-manager-headings {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    justify-content: left;
}

/* Styling for the accordion drop downs */

.accordion {
    display: flex;
    padding: 18px 10px;
    border: none;
    transition: 0.4s;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
}

.accordion:focus {
    outline: 0;
}

.accordion-header {
    /* border-style: solid;
    border-bottom: none;
    border-color: black; */
    display: grid;
    grid-template-columns: 1fr 72px;
    align-items:center;
    padding: 0px 0px;
    margin: 0px;
}

/* Styling for the list items */

#goal-manager-container ul {
    padding: 0px;
    list-style-type: none;
}

#goal-manager-container li .accordion-header{
    background: gray;
}


#goal-manager-container li:hover .accordion-header{
    background-color: rgb(116, 116, 116);
    transition: 0.2s;
}

#goal-manager-container li:nth-child(even) .accordion-header{
    background: rgb(88, 88, 88);
}

#goal-manager-container li:nth-child(even):hover .accordion-header{
    background: rgb(78, 78, 78);
}


#goal-manager-widgets {
    display: flex;
}

#goal-manager-unordered-list img {
    border-image-outset: 50px;
    padding: 5px;
    height: 25px;
}

#goal-manager-unordered-list img:hover {
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    cursor: pointer;
}

input:disabled {
    background-color: transparent;
    margin-right: 11px;
    border: none;
    color: white;
    font-size: 17px;
    width: auto;
    cursor: pointer;
}

input {
    background-color: white;
    margin-right: 11px;
    color: black;
    font-size: 17px;
    width: auto;
}

/* Styling for the hidden panels */

.dropdown-panel {
    border-top:solid;
    border-bottom:solid;
    border-color: black;
    background: rgb(165, 165, 165);
    padding: 0 18px;
    color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}